
<ion-view view-title="">
<ion-nav-bar class="bar-dark">
      <ion-nav-back-button ng-click="goBack();" class="button-clear"><i class="icon ion-chevron-left"></i> {{getSelectedTopic().text}}</ion-nav-back-button>
    </ion-nav-bar>
  <ion-content style="background-color:#1A1A1A;color:#fff">
  
  <div style="background-color:#1A1A1A;color:#fff">
      <div ng-init="getNewsItem();">
        <div ng-bind-html="getStoryFormat(selectedNewsItem.title)" class="h2" style="color:#fff"></div>
      </div>

      <div id="video" class="row">
        <div class="col" style="height:300px">
         <video id="videopanel" autobuffer autoplay height="100%" width="100%">
          <source src="{{selectedNewsItem.http}}" type="video/mp4" webkitallowfullscreen mozallowfullscreen allowfullscreen>
         </video>

          <!--<iframe ng-src="{{selectedNewsItem.http}}" height="100%" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->

          
        
        </div>
      </div>
       <div ng-bind-html="getStoryFormat(selectedNewsItem.body)"> </div>
   </div>
  </ion-content>
</ion-view>
